# Compiled class files
*.class

# Maven or Gradle build directories
target/
build/

# Logs
*.log

# IDE directories
.idea/
*.iml
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
.mvn/